*.cvs
*.dat
.ipynb_checkpoints
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.csv
*.
courses/SparkScala/ml-100k/*
/**/*/h2ologs
/**/*/metastore_db
metastore_db
/**/*/project/boot/
/**/*/project/plugins/project/